.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #5566ff, #5bff77);
}

.title-section {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}

.title-section h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.title-section p {
  font-size: 18px;
  color: #000000;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;;
}

.menu-buttons button {
  width: 220px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}
